<!DOCTYPE html>
<html>
  <head>
    <title>document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <form action="/createfile" method="post">
          <input type="text" name="filename" placeholder="Enter your file name with extension">
        </form>
        <ul>
          <% files.forEach((file, index)=>{ %>
            <li>
              <a href="/file/<%= file %>"><%= file %></a>
              <a href="/delete/<%= file %>">delete</a>
            </li>
            
         <%})%>
        </ul>
      </div>
      <div class="right">
        <form method="post" action="/update/<%= filenaam %>">
          <textarea cols="30" rows="10" name="fileread">
            <%= fileread %>
          </textarea>

          <br>
          <br>

          <button>save</button>
        </form>


      </div>
    </div>
  </body>
</html>
